* {
    box-sizing:border-box;
}
h1 {
    color: white;
    background-color: green;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
.english_question{
    
    font-size: 50px;
}
.question {
    visibility: hidden;
    font-size: 50px;
}
.answer-seb, .answer-frances {
    visibility: hidden;
}
.speak-button, .toggle-visability, .correct, .incorrect, .lesson button {
    box-sizing:border-box;
    width: 49%;
    height: 200px;
    background: white;
    border: 1px #001e96 solid;
    font-size: 50px;
}
.toggle-visability {
    background-color: #001e96;
    color:white;
}

.correct {
    margin: 30px 0;
    background-color: #109246;
    color:white;
}
.incorrect {
    margin: 30px 0;
    background-color: #ee2436;
    color:white;
}

.lesson div a button {
    background-color: #ee2436;
    color:white;
}

.lesson div a:first-child button {
    background-color: #001e96;
    color:white;
}

.lesson{
    margin: 0 0 30px 0;
}

button {
    cursor: pointer;
}